body {
  background:#050505;
  color:#00ffcc;
  font-family: monospace;
  text-align: center;
  padding: 50px;
}

button {
  background:#0b0b0b;
  color:#00ffcc;
  border:1px solid #00ffcc55;
  padding:8px;
  margin-top:10px;
}

#admin.hidden { display:none; }

#editor {
  width:80%;
  height:200px;
  margin:20px auto;
  display:block;
  background:#0b0b0b;
  color:#00ffcc;
  border:1px solid #00ffcc55;
  box-shadow: inset 0 0 15px #00ffcc33;
}
